/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* general */
html{
    font-size: 16px;
}
body{
    /* min-width: 576px; */
    color: white;
    font-family: 'Montserrat', sans-serif;;
}
.container{
    height: 100vh;
    width: 100%;
}
/* contenitore principale */
.content-container{
    width: 100%;
    height: calc(100% - 90px);
    display: flex;
}
/* aside */
aside{
    width: 230px;
    padding: 20px;
    background-color: #000000;
    top: 0;
    left: 0;
    font-size: 0.9rem;
    position: relative;
}
aside a{
    color: #A3A3A3;
    text-decoration: none;
}
aside li{
    list-style: none;
    padding: 5px 0;
}
.logo{
    width: 70%;
}
.logo-box{
    position: relative;
}
aside>div{
    padding: 10px 0;
}
aside img{
    width: 100%;
}
.logo-small{
    display: none;
    width: 35px;
    position: absolute;
    top: 10px;
    left: 0;
}
.menu li img{
    width: 30px;
    vertical-align: middle;
}
.playlist{
    height: 50%;
    overflow-y: auto;
}
.playlist h3{
    text-transform: uppercase;
    padding-bottom: 5px;
    font-size: 1rem;
}
.playlist li .fa-plus{
    padding: 7px;
    margin-right: 3px;
    color: black;
    background-color: #A3A3A3;
}
.user{
    width: calc(100% - 40px);
    background-color: #000000;
    position: absolute;
    bottom: 0;
}
.user .fa-arrow-down{
    font-size: 0.8rem;
    margin-right: 3px;
    border: 2px solid #A3A3A3;
    border-radius: 50%;
    padding: 4px
}
.user div:first-child{
    padding: 5px 0;
    border-bottom: 1px solid #A3A3A3;
}
.user div:last-child{
    padding: 10px 0;
    font-size: 1rem;
}
.user img{
    vertical-align: middle;
    width: 30px;
    padding: 2px;
    border-radius: 50%;
    background-color: #A3A3A3;
}
/* main */
main{
    width: calc(100% - 230px);
    background-color: #141922;
}
.nav-top{
    width: calc(100% - 230px);
    height: 70px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.3)
}
.nav-top .upgrade{
    padding: 10px;
    text-transform: uppercase;
    border: 1px solid white;
    border-radius: 18px;
    font-size: 0.8rem;
    position: absolute;
    top: 12px;
    right: 30px;
}
/* main content */
.main-content{
    height: 100%;
    width: 100%;
    overflow-y: auto;
    padding-top: 70px;
}
main h1{
    font-size: 1.4rem;
}
main h2{
    font-size: 1rem;
    padding-top: 10px;
}
main p{
    font-size: 0.8rem;
    padding-top: 13px;
    color: #A3A3A3;
}
main nav{
    padding: 10px 0;
    text-align: center;
}
main nav li{
    display: inline-block;
    margin: 5px;
}
main nav a{
    color: #A3A3A3;
    font-size: 0.8rem;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}
.main-content section{
    padding: 20px;
}
.main-content .main-box{
    width: 100%;
    padding-top: 30px;
    display: flex;
    flex-flow: row wrap;
    gap: 15px;
}
.main-box .card{
    width: calc((100% - 75px) / 6);
}
.card .card-img{
    width: 100%;
}
.card-img img{
    width: 100%;
}
.card .circle-img{
    border-radius: 50%;
}
.card .card-text{
    text-align: center;
}
/* footer */
footer{
    height: 90px;
    width: 100%;
    font-size: 0.9rem;
    background-color: #282828;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
}
.flex-container{
    display: flex;
}
footer .box{
    width: 25%;
    align-items: center;
    gap: 15px;
    margin: 0 20px;
}
footer .left p{
    font-size: 0.8rem;
}
footer .left p, footer .left .fa-regular{
    color: #A3A3A3;
}
footer .left .image{
    width: 50px;
}
.left img{
    width: 100%;
}
footer .center{
    width: 50%;
    flex-flow: column wrap;
    align-items: center;
    gap: 15px;
}
.center-up{
    gap: 30px;
    font-size: 1.1rem;
    align-items: center;
}
.center-up .fa-circle-play{
    font-size: 1.9rem;
}
.center-down{
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 0.8rem;
}
.progress-bar{
    height: 5px;
    background-color: #A3A3A3;
    border-radius: 3px;
    overflow: hidden;
}
.progress-bar .progress{
    width: 30%;
    height: 5px;
    background-color: #C1C1C1;
}
.center-down .progress-bar{
    width: 80%;
}
footer .right{
    justify-content: flex-end;
}
footer .right .progress-bar{
    width: 100px;
}

/* media query */
@media screen and (max-width: 992px){
    .main-box .card{
        width: calc((100% - 75px) / 4);
    }
}
@media screen and (max-width: 768px){
    .main-box .card{
        width: calc((100% - 75px) / 4);
    }
    footer .title{
        display: none;
    }
    .left .fa-regular{
        display: none;
    }
    .right .progress-bar, .right .fa-list-ul, .right .fa-desktop{
        display: none;
    }
    .progress-bar{
        width: 80%;
    }
}
@media screen and (max-width: 576px){
    aside{
        width: 70px;
        text-align: center;
    }
    .logo{
        visibility: hidden;
    }
    .logo-small{
        display: block;
    }
    .menu ul{
        padding-top: 15px;
    }
    .menu a, .playlist, .user span, .user a{
        display: none;
    }
    .user div:first-child{
        border-bottom: none;
    }
    .user img, .user .fa-arrow-down{
        display: inline-block;
        margin-right: 0;
    }
    main{
        width: calc(100% - 70px);
    }
    .nav-top{
        width: calc(100% - 70px);
    }
    .main-box .card{
        width: calc((100% - 75px) / 2);
    }
}