/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* general */
html{
    font-size: 16px;
}
body{
    min-width: 500px;
    color: white;
    font-family: 'Montserrat', sans-serif;;
}
.container{
    height: 100vh;
    width: 100%;
}
img{
    width: 100%;
}
/* contenitore principale */
.content-container{
    min-width: 500px;
    width: 100%;
    height: calc(100% - 90px);
    display: flex;
}
/* aside */
aside{
    width: 230px;
    padding-top: 20px;
    font-size: 0.9rem;
    background-color: #000000;
    position: relative;
    top: 0;
    left: 0;
}
aside a{
    color: #A3A3A3;
    text-decoration: none;
}
aside li{
    list-style: none;
    padding: 5px 0;
}
.logo-box, .playlist, .user{
    padding: 10px 24px;
}
/* logo */
.logo{
    width: 70%;
}
.logo-box{
    position: relative;
}
.logo-small{
    display: none;
    width: 35px;
    position: absolute;
    top: 10px;
}
/* menu */
.menu li img{
    width: 30px;
    vertical-align: middle;
}
.menu li{
    padding: 5px 20px;
    border-left: 4px solid transparent;
}
.menu a{
    vertical-align: middle;
}
.menu li.active{
    border-left: 4px solid #ADFF2F;
}
.menu li:hover{
    border-left: 4px solid #ADFF2F;
}
/* playlist */
.playlist{
    height: 50%;
    overflow-y: auto;
}
.playlist h3{
    text-transform: uppercase;
    padding-bottom: 5px;
}
.playlist li .fa-plus{
    padding: 7px;
    margin-right: 3px;
    color: black;
    background-color: #A3A3A3;
}
/* .user */
.user{
    width: 100%;
    background-color: #000000;
    position: absolute;
    left: 0;
    bottom: 0;
}
.user .fa-arrow-down{
    font-size: 0.6rem;
    margin-right: 3px;
    border: 2px solid #A3A3A3;
    border-radius: 50%;
    padding: 4px
}
.user div{
    padding: 10px 0;
}
.user div:first-child{
    border-bottom: 1px solid #A3A3A3;
}
.user img{
    vertical-align: middle;
    width: 25px;
    padding: 2px;
    border-radius: 50%;
    background-color: #A3A3A3;
}
.user span{
    font-size: 1rem;
    vertical-align: middle;
}
/* hover aside */
aside a:hover{
    color: white;
}
aside a:hover .fa-solid{
    background-color: white;
}
/* /aside */

/* main */
main{
    width: calc(100% - 230px);
    background-color: #141922;
}
/* .nav-top */
.nav-top{
    width: calc(100% - 230px);
    height: 70px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5)
}
.nav-top .upgrade{
    padding: 10px 30px;
    text-transform: uppercase;
    border: 2px solid white;
    border-radius: 18px;
    font-size: 0.8rem;
    position: absolute;
    top: 12px;
    right: 30px;
    transition: all 0.8s;
}
.nav-top .upgrade a{
    color: white;
    text-decoration: none;
}
/* nav-top hover */
.nav-top .upgrade:hover{
    transform: scale(1.1);
}
/* main content */
.main-content{
    background-color: rgb(0,27,116);
    height: 100%;
    width: 100%;
    overflow-y: auto;
    padding-top: 90px;
}
/* main top */
#main-top .main-box{
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 20px;
}
#main-top .image{
    width: 25%;
}
#main-top h1{
    font-size: 1.3rem;
    text-transform: uppercase;
}
#main-top h2{
    font-size: 5rem;
}
#main-top p{
    font-size: 1.2rem;
    color: #b3b3b3;
}
#main-top p:last-child{
    font-size: 1rem;
}
#main-top p:last-child span{
    color: white;
}
/* main down */
#main-down{
    background: rgb(0,27,116);
    background: linear-gradient(rgba(0,27,116,1) 0%, rgba(0,18,84,1) 31%, rgba(0,0,57,1) 57%, rgba(0,0,36,1) 100%);
    font-size: 1.3rem;
    padding: 15px;
    color: #b3b3b3;
    text-transform: uppercase;
}
#main-down nav.flex-container{
    gap: 25px;
    margin: 20px 0;
}
#main-down .fa-solid.fa-circle-play{
    color: #1ED760;
    background-color: black;
    border-radius: 50%;
    font-size: 4rem;
}
#main-down nav .fa-heart, #main-down nav .fa-ellipsis{
    font-size: 1.8rem;
}
#main-down .music{
    margin-top: 15px;
    width: 100%;
    font-size: 1rem;
}
#main-down .music .title-box{
    border-bottom: 1px solid #b3b3b3;
}
.music .number{
    padding: 10px;
    width: 5%;
}
.music .title{
    width: 60%;
    padding: 10px;
}
.music .album, .music .time{
    padding: 10px;
    width: 17.5%;
    text-align: right;
    justify-content: flex-end;
}
.music .time{
    padding-right: 48px;
}
/* songs */
.songs{
    margin-top: 20px;
}
.song i, .song p{
    cursor: pointer;
}
.song .number{
    position: relative;
}
.song .number i{
    display: none;
    position: absolute;
    top: 13px;
    left: 10px;
}
.song .title.flex-container, .songs .time.flex-container{
    gap: 20px;
}
.song .title .image{
    width: 70px;
}
.song .title p:first-of-type{
    color: white;
    font-size: 1.3rem;
}
.song .title p:last-child{
    text-transform: capitalize;
    font-size: 1rem;
}
.song .time i{
    display: none;
}
/* main hover */
.song:hover{
    background-color: rgba(83, 83, 83, 0.5);
    color: white;
}
.song:hover .number p{
    display: none;
}
.song:hover .number i{
    display: block;
}
.song .title p:hover{
    text-decoration: underline;
}
.song .time .fa-heart:hover{
    color: #1ED760;
}
.song:hover .time i{
    display: block;
}
.song:hover .time{
    padding-right: 10px;
}
/* /main */

/* footer */
footer{
    min-width: 500px;
    height: 90px;
    width: 100%;
    color: #A3A3A3;
    background-color: #282828;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
}
.flex-container{
    display: flex;
    align-items: center;
}
footer .box{
    width: 25%;
    gap: 15px;
    margin: 0 20px;
}
footer .fa-regular, footer .fa-solid, footer .title p{
    cursor: pointer;
}
/* left */
footer .left h4{
    color: white;
}
footer .left p{
    font-size: 0.8rem;
}
footer .left .image{
    width: 50px;
}
/* center */
footer .center{
    width: 50%;
    flex-flow: column wrap;
    gap: 15px;
}
.center-up{
    gap: 30px;
    font-size: 1.3rem;
}
.center-up .fa-circle-play{
    font-size: 2.4rem;
    color: white;
}
.center-down{
    width: 100%;
    gap: 10px;
    font-size: 0.8rem;
}
.progress-bar{
    height: 5px;
    background-color: #5A5A5A;
    border-radius: 3px;
    cursor: pointer;
}
.center-down .progress-bar{
    width: 80%;
}
.progress-bar .progress{
    width: 30%;
    height: 100%;
    border-radius: 3px;
    background-color: #C1C1C1;
    position: relative;
}
.progress-bar .progress .circle{
    display: none;
    background-color: white;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: -5px;
}
.center-down .progress{
    animation: music-time 100s linear infinite;
}
@keyframes music-time{
    from{width: 0;}
    to{width: 100%;}
}
/* right */
footer .right{
    justify-content: flex-end;
}
footer .right .progress-bar{
    width: 100px;
}
.right .connect{
    visibility: hidden;
    background-color: #282828;
    width: 350px;
    height: 500px;
    padding: 15px;
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    bottom: 100px;
    right: 50px;
}
.right .connect h1{
    font-size: 1.7rem;
    color: white;
}
.right .connect .fa-solid{
    font-size: 4.5rem;
    margin: 10px;
    color: white;
}
.right .connect p{
    font-size: 1.3rem;
}
.right .connect .info a{
    background-color: #1ED760;
    padding: 12px 18px;
    border-radius: 25px;
    font-size: 1.3rem;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}
/* vertical-bar */
footer .right .vertical-bar{
    display: none;
    width: 5px;
    height: 70px;
}
footer .vertical-bar .vertical-progress{
    width: 100%;
    height: 50%;
}
.vertical-bar .vertical-progress .vertical-circle{
    right: -5px;
    top: 50%;
}
/* footer hover */
footer .title p:hover{
    text-decoration: underline;
}
footer .title p:hover, footer .left .fa-regular:hover{
    color: white;
}
footer .center .fa-regular:hover, footer .center .fa-solid:hover, footer .right .fa-solid:hover{
    color: #ffffff;
}
.progress-bar .progress:hover{
    background-color: #ADFF2F;
}
.progress-bar .progress:hover .circle{
    display: block;
}
.center-up .fa-circle-play:hover{
    transform: scale(1.2);
}
footer .right .fa-desktop:hover + .connect{
    visibility: visible;
}
footer .fa-volume-high:active + .progress-bar .progress{
    width: 100%;
}
/* /footer */

/* media query */
@media screen and (max-width: 992px){
    
}
@media screen and (max-width: 768px){
    #main-top h2{
        font-size: 3rem;
    }
    footer .title{
        display: none;
    }
    .left .fa-regular{
        display: none;
    }
    .right .progress-bar, .right .fa-list-ul, .right .fa-desktop{
        display: none;
    }
    .progress-bar{
        width: 80%;
    }
    footer .right .vertical-bar{
        display: block;
    }
}
@media screen and (max-width: 576px){
    aside{
        width: 70px;
        text-align: center;
    }
    .logo-box{
        padding: 10px 18px;
    }
    .logo{
        visibility: hidden;
    }
    .logo-small{
        display: block;
    }
    .menu ul{
        padding-top: 15px;
    }
    .menu li, .menu li.active{
        border: none;
    }
    .menu li:hover{
        border: none;
        transform: scale(1.2);
        cursor: pointer;
    }
    .menu a, .playlist, .user span, .user a{
        display: none;
    }
    .user div:first-child{
        border-bottom: none;
    }
    .user img, .user .fa-arrow-down{
        display: inline-block;
        margin-right: 0;
    }
    .user .fa-arrow-down:hover{
        transform: scale(1.2);
        cursor: pointer;
    }
    main{
        width: calc(100% - 70px);
    }
    .nav-top{
        width: calc(100% - 70px);
    }

}